<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
<div>
    DraftInteractive:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
    <a href="/startup">Draft</a>
    <a href="/newstory">CurrentStory</a>
    <a href="/loadstory">LoadStory</a>
    <a href="/charactercreation">CharacterCreation</a>
</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>