<!doctype html>
<HTML lang="en">
  <HEAD>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
      
    <title>Draft</title>

    <!-- Bootstrap CSS -->
    <LINK REL="stylesheet" HREF = "style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/starter-template/starter-template.css" rel="stylesheet">

  </HEAD>
      
  <BODY>
      <DIV class="container">
          
          <DIV class="starter-template">
              <div class="jumbotron">
              <h1>Draft</h1>
              <p class="lead"> Encouraging creative writing and freestyle.</p>
              </div>
              
              <DIV class="row">
                  <DIV class="col-md-5" >
                      <!--<h2>New Story</h2>-->
                      <a class="btn btn-mybutton btn-lg" href="newstory.html" role="button">New Story</a>
                  </DIV>
                  
                  <DIV class="col-md-5 col-md-offset-1" >
                      <!--<h2>Load Story</h2>-->
                      <a class="btn btn-mybutton btn-lg" href="#" role="button">Load Story</a>
                          </DIV>
              </DIV>
          </DIV>
      </DIV>
      
  </BODY>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</HTML>